body,html {
	margin: 0;
	padding: 0;

	/* iOS */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	/* Android */
	font-family: 'RobotoRegular', 'Droid Sans', sans-serif;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: 200;
	color: white;
}