body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
	
	/* iOS */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	/* Android */
	font-family: 'RobotoRegular', 'Droid Sans', sans-serif;

	color: white;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: 200;
}

.button {
	display: block;
	position: relative;
	margin: 0 auto;
	font-size: 20px;
	cursor: pointer
}